openapi: 3.0.4
info:
  title: Public Agents DomainUsersV2 API
  description: Description of Public API for Unitrends MSP.
  version: public_api-v1
servers:
- url: https://public-api.backup.net
security:
- Bearer: []
tags:
- name: DomainUsersV2
paths:
  /v2/spanning/domains/{domainId}/users:
    get:
      tags:
      - DomainUsersV2
      summary: Returns a list of spanning domain/tenant users
      description: Visibility is restricted by tenant which issued credentials for access.
      parameters:
      - name: domainId
        in: path
        required: true
        schema:
          type: string
      - name: page_number
        in: query
        description: The page number. Default is 1.
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
      - name: page_size
        in: query
        description: The page size. Default is 50.
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          headers:
            Paging-Page-Size:
              description: Current page size.
              schema:
                type: integer
            Paging-Page-Number:
              description: Current page number.
              schema:
                type: integer
            Paging-Total-Records:
              description: Total amount of records.
              schema:
                type: integer
            Paging-Total-Pages:
              description: Total count of pages.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MSP.Portal.PublicApi.Api.Controllers.Spanning.GetDomains.V2.GetReturnUserModelV2'
components:
  schemas:
    MSP.Portal.PublicApi.Api.Controllers.Spanning.GetDomains.UserBackupTimestampModel:
      type: object
      properties:
        lastMailBackupTimestamp:
          type: string
          description: Timestamp of last backup for mail
          format: date-time
          nullable: true
          example: '2022-07-26T09:21:40Z'
        lastContactBackupTimestamp:
          type: string
          description: Timestamp of last backup for contact
          format: date-time
          nullable: true
          example: '2022-07-26T09:21:40Z'
        lastCalendarBackupTimestamp:
          type: string
          description: Timestamp of last backup for calendar
          format: date-time
          nullable: true
          example: '2022-07-26T09:21:40Z'
        lastDriveBackupTimestamp:
          type: string
          description: Timestamp of last backup for drive
          format: date-time
          nullable: true
          example: '2022-07-26T09:21:40Z'
      additionalProperties: false
    MSP.Portal.PublicApi.Api.Controllers.Spanning.GetDomains.UserBackupStatusModel:
      type: object
      properties:
        lastForMail:
          $ref: '#/components/schemas/MSP.Portal.PublicApi.Api.Controllers.Spanning.GetDomains.BackupStatusModel'
        lastForContact:
          $ref: '#/components/schemas/MSP.Portal.PublicApi.Api.Controllers.Spanning.GetDomains.BackupStatusModel'
        lastForCalendar:
          $ref: '#/components/schemas/MSP.Portal.PublicApi.Api.Controllers.Spanning.GetDomains.BackupStatusModel'
        lastForDrive:
          $ref: '#/components/schemas/MSP.Portal.PublicApi.Api.Controllers.Spanning.GetDomains.BackupStatusModel'
      additionalProperties: false
    MSP.Portal.PublicApi.Api.Controllers.Spanning.GetDomains.BackupStatusModel:
      enum:
      - success
      - partial
      - failed
      - successfulNoChanges
      type: string
    MSP.Portal.PublicApi.Api.Controllers.Spanning.GetDomains.V2.UserModelV2:
      type: object
      properties:
        id:
          type: string
          description: User unique identifier
          nullable: true
        email:
          type: string
          description: User email
          nullable: true
        lastBackupStatusTotal:
          $ref: '#/components/schemas/MSP.Portal.PublicApi.Api.Controllers.Spanning.GetDomains.BackupStatusModel'
        lastBackupTimestampTotal:
          type: string
          description: Total last backup timestamp
          format: date-time
          nullable: true
        lastBackupStatus:
          $ref: '#/components/schemas/MSP.Portal.PublicApi.Api.Controllers.Spanning.GetDomains.UserBackupStatusModel'
        lastBackupTimestamp:
          $ref: '#/components/schemas/MSP.Portal.PublicApi.Api.Controllers.Spanning.GetDomains.UserBackupTimestampModel'
        backupStatusLastSevenDaysTotal:
          $ref: '#/components/schemas/MSP.Portal.PublicApi.Api.Controllers.Spanning.GetDomains.BackupStatusModel'
        backupStatusLastSevenDays:
          $ref: '#/components/schemas/MSP.Portal.PublicApi.Api.Controllers.Spanning.GetDomains.UserBackupStatusLastSevenDaysModel'
        storageInformation:
          $ref: '#/components/schemas/MSP.Portal.PublicApi.Api.Controllers.Spanning.GetDomains.V2.UserStorageInformationModelV2'
      additionalProperties: false
    MSP.Portal.PublicApi.Api.Controllers.Spanning.GetDomains.UserBackupStatusLastSevenDaysModel:
      type: object
      properties:
        totalForMail:
          $ref: '#/components/schemas/MSP.Portal.PublicApi.Api.Controllers.Spanning.GetDomains.BackupStatusModel'
        totalForContact:
          $ref: '#/components/schemas/MSP.Portal.PublicApi.Api.Controllers.Spanning.GetDomains.BackupStatusModel'
        totalForCalendar:
          $ref: '#/components/schemas/MSP.Portal.PublicApi.Api.Controllers.Spanning.GetDomains.BackupStatusModel'
        totalForDrive:
          $ref: '#/components/schemas/MSP.Portal.PublicApi.Api.Controllers.Spanning.GetDomains.BackupStatusModel'
      additionalProperties: false
    MSP.Portal.PublicApi.Api.Controllers.Spanning.GetDomains.V2.GetReturnUserModelV2:
      type: object
      properties:
        users:
          type: array
          items:
            $ref: '#/components/schemas/MSP.Portal.PublicApi.Api.Controllers.Spanning.GetDomains.V2.UserModelV2'
          nullable: true
        archivedUsers:
          type: array
          items:
            $ref: '#/components/schemas/MSP.Portal.PublicApi.Api.Controllers.Spanning.GetDomains.V2.UserModelV2'
          nullable: true
      additionalProperties: false
    MSP.Portal.PublicApi.Api.Controllers.Spanning.GetDomains.V2.UserStorageInformationModelV2:
      type: object
      properties:
        protectedBytes:
          type: integer
          description: Total protected  (number in bytes)
          format: int64
          nullable: true
          example: 121323231
        usedBytes:
          type: integer
          description: Total stored (number in bytes)
          format: int64
          nullable: true
          example: 242424244
        protectedMailBytes:
          type: integer
          description: Mail protected (number in bytes)
          format: int64
          nullable: true
          example: 435353535
        usedMailBytes:
          type: integer
          description: Mail stored (number in bytes)
          format: int64
          nullable: true
          example: 23423535
        protectedDriveBytes:
          type: integer
          description: Drive protected (number in bytes)
          format: int64
          nullable: true
          example: 325235235
        usedDriveBytes:
          type: integer
          description: Drive stored (number in bytes)
          format: int64
          nullable: true
          example: 234234234
        protectedContactBytes:
          type: integer
          description: Contact protected (number in bytes)
          format: int64
          nullable: true
          example: 535325235
        usedContactBytes:
          type: integer
          description: Contact stored (number in bytes)
          format: int64
          nullable: true
          example: 2352352352
        protectedCalendarBytes:
          type: integer
          description: Calendar protected (number in bytes)
          format: int64
          nullable: true
          example: 235235235
        usedCalendarBytes:
          type: integer
          description: Calendar stored (number in bytes)
          format: int64
          nullable: true
          example: 662326326
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: 'JWT Authorization header using the Bearer scheme. Example value: "Bearer {token}"'
      name: Authorization
      in: header
